.newsletters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 120px;
}

.newsletters-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletters-subtitle {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 13px;
    color: rgb(192, 192, 192);
}

.newsletters-title {
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
    text-transform: uppercase;
}

.newsletters-p {
    padding-top: 10px;
    font-size: 13px;
}

.newsletter-input {
    padding-top: 20px;
}

@media (max-width: 600px) {
    .newsletters-content {
        width: 300px;
    }
}